[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-slugify = ">=1.2"
redis = ">=2.10.5"
django-environ = ">=0.4"
django-model-utils = ">=3.1"
django-allauth = ">=0.38"
django-crispy-forms = ">=1.7"
django-redis = ">=4.10"
djangorestframework = "*"
coreapi = ">=2.3"
django-storages = {version = ">=1.7",extras = ["boto3"]}
Pillow = ">=5.3"
"argon2_cffi" = ">=18.3"
raven = "*"
psycopg2-binary = "*"
django-easy-timezones = "*"
django-rest-swagger = "*"
django-filter = "*"
django-anymail = {extras = ["sendgrid"],version = "*"}
django-rest-auth = "*"
pytz = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-qr-code = "*"
django = "<2.3"
django-fullurl = "*"
django-absoluteuri = "*"
django-slugify-processor = "*"
django-autoslug = "*"
django-extensions = "*"
boto3 = "*"
sorl-thumbnail = "*"
gunicorn = "*"
django-fernet-fields = "*"
python-pushover = "*"
django-rq = "*"
sentry-sdk = "*"
django-rq-scheduler = "*"
django-cors-headers = "*"

[dev-packages]
ipdb = "*"
mypy = "*"
pytest-sugar = "*"
"flake8" = "*"
django-debug-toolbar = "*"
Werkzeug = "*"
Sphinx = "*"
factory_boy = "*"
django_coverage_plugin = "*"
pre-commit = "*"
coverage = "*"
pytest-django = "*"
pytest = "*"
django-test-plus = "*"
pylint = "*"
black = "*"

[requires]
python_full_version = "3.8.0"

[pipenv]
allow_prereleases = true
