{% extends "base.html" %}
{% load static i18n %}
{% block title %}Submit Report Entry{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% if slug %}
                <span class="card-title">{{ station.description }}</span>
                <span class="text-primary text-left">Complete this for a refund of ${{ station.refund_value }}</span>
                <form class="form-horizontal" method="post" action="{% url 'stations-public-view' slug %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <span class="card-title">Thank you!</span>
            {% endif %}
        </div>
    </div>
{% endblock %}
