{% extends "base.html" %}
{% load static i18n %}
{% block title %}Submit Report Entry{% endblock %}
{% load crispy_forms_tags %}
{% load progress_bar %}

{% block content %}
{% if slug %}
<span class="card-title">{{ station.description }}</span>
<span class="text-primary text-left">Complete this for a refund of ${{ station.refund_value }}</span>
<form class="form-horizontal" method="post" action="{% url 'stations-public-view' slug %}" enctype="multipart/form-data"
    data-ajax="false">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
        <div class="controls">
            {% progress_bar %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% else %}
<div class="container pt-5">
    <h1 class="text-center">Thanks!</h1>
    <p class="text-center">Your report has been submitted and will be reviewed soon.</p>
</div>
{% endif %}
{% endblock %}
