{% extends "base.html" %}
{% load static i18n %}
{% block title %}Master List{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Master List
        </div>
        <div class="card-body">
            <h5 class="card-title">All your todos will show up here.</h5>
            <div class="list-group">
                {% for todo in master_list %}
                    <a href="#" class="list-group-item list-group-item-action">{{ todo.description }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
