{% extends "base.html" %}
{% load static i18n %}
{% block title %}Master List{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Master List
        </div>
        <div class="card-body">
            <h5 class="card-title">All your todos will show up here.</h5>
            <div class="list-group">
                {% for todo in master_list %}
                    <li class="list-group-item list-group-item-action py-2">
                        <div class="btn-toolbar justify-content-between" role="toolbar">
                            <span class="font-weight-bold">{{ todo.description }}</span>
                            <div class="btn-group btn-group-sm" role="group">
                                  <button type="button" class="btn btn-outline-success"><span class="fa fa-check fa-xs"></span> Mark Complete</button>
                                  <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span class="fa fa-clock-o fa-xs"></span> Postpone
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Tomorrow</a>
                                    <a class="dropdown-item" href="#">Next Week</a>
                                    <a class="dropdown-item" href="#">Skip Occurrence</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Specific Date</a>
                                  </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
