{% extends "base.html" %}
{% load static i18n %}
{% block title %}Master List{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Master List
        </div>
        <div class="card-body">
            <h5 class="card-title">All your todos will show up here.</h5>
            <div class="list-group">
                {% for todo in master_list %}
                    <li class="list-group-item list-group-item-action py-2">
                        <div class="btn-toolbar justify-content-between" role="toolbar">
                            <span class="font-weight-bold">{{ todo.description }}</span>
                            <div class="btn-group btn-group-sm" role="group">
                                  <button type="button" class="btn btn-outline-success"><span class="fa fa-check fa-xs"></span> Mark Complete</button>
                                  <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span class="fa fa-clock-o fa-xs"></span> Postpone
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Tomorrow</a>
                                    <a class="dropdown-item" href="#">Next Week</a>
                                    <a class="dropdown-item" href="#">Skip Occurrence</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Specific Date</a>
                                  </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </div>
            <hr />
            <nav class="align-self-end">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
