{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Todo{% endblock %}

{% block content %}

    <div class="modal fade" id="createListModal" tabindex="-1" role="dialog" aria-labelledby="createListModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-horizontal" method="post" action="{% url 'core:create-todo-list' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <div class="modal-body">
                        {{ todo_list_form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><span
                                class="fa fa-ban fa-lg"></span> Cancel
                        </button>
                        <button type="submit" class="btn btn-primary"><span class="fa fa-save fa-lg"></span> Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">

        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                {% for todo_list in todo_lists %}
                    <li class="nav-item">
                        <a class="nav-link {% if todo_list.pk == active_list_pk %}active{% endif %}" href="{% url 'core:lists-view' todo_list.pk %}">{{ todo_list.name.capitalize }}</a>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#createListModal">
                        <span class="fa fa-plus-square-o fa-lg"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="card-body">
                <form class="form-horizontal float-right" method="post"
                      action="{% url 'core:delete-todo-list' active_list_pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom"
                            title="Delete Todo List" {% if not can_delete %}disabled{% endif %}><span class="fa fa-trash fa-xs"></span></button>
                </form>
                <br/>
            <form class="form-horizontal" method="post" action="{% url 'core:create-item' active_list_pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                {{ list_item_form|crispy }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
            <br/>
            <div class="list-group">
                {% for todo in list_items %}
                    <li class="list-group-item list-group-item-action py-2">
                        <div class="btn-toolbar justify-content-between" role="toolbar">
                            <span class="font-weight-bold">{{ todo.description }}</span>
                            <form class="form-inline" method="post" action="{% url 'core:delete-item' todo.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <div class="btn-group btn-group-sm" role="group">
                                    <button type="button" class="btn btn-outline-info">
                                        <span class="fa fa-pencil fa-xs"></span> Edit
                                    </button>
                                    <button type="submit" class="btn btn-outline-danger">
                                        <span class="fa fa-trash-o fa-xs"></span> Delete
                                    </button>
                                </div>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
